//
//  Dev.xcconfig
//  BaseTestProject
//
//  Created by Victor Goncalves Valfre on 30/11/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT                        = development
BASE_URL                           = mesa-news-api.herokuapp.com
HTTP_SCHEME                        = https
